{
  "presets": [
    "@babel/react",
    "@babel/env"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/proposal-export-default-from",
    ["@babel/transform-runtime", { "regenerator": true }]
  ]
}
